---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Education from '../components/icons/Education.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import UserIcon from '../components/icons/User.astro';
import About from '../components/About.astro';
---

<Layout title="Portfolio de Carolina - Desarrollo y Programación Web" description="Contrata a Carolina para crear tu página web">
	<main class="py-4">
		
		<SectionContainer class="py-44 px-20">
			<img 
    		class="rounded-full size-12 mb-4"
    		src="/src/img/caro-img.jpeg" 
    		alt="" />
			<h1 class="text-3xl md:text-4xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Carolina <a 
				href="https://www.linkedin.com/in/carolina-losano/"
				target="_blank"
				rel="noopener"
				class="flex justify-center flex-row items-center">
					<Badge>Available for hire</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-xl text-wrap max-w-[700px]">
				
					I'm a 24 year old enthusiastic student of web design and programming with skills in front-end development. <span class="opacity-70" style="color: rgb(9, 50, 126);">Seeking opportunities to integrate my design and programming skills </span>to create impactful and effective digital experiences. Committed to continuous learning and professional growth in the fields of design and technology.
				
			</h2>

			<ul class="py-6 flex juntify-center flex-row">
				<li class="pr-5 hover:scale-110 hover transition">
					<a href="https://www.linkedin.com/in/carolina-losano/" target="_blank" rel="noopener">
						<LinkedInIcon />
					</a>
				</li>
				<li class="pr-5 hover:scale-110 hover transition">
					<a href="https://github.com/carolosano" target="_blank" rel="noopener">
						<GithubIcon />
					</a>
				</li>
				<li class=" w-6 h-6 pr-5 hover:scale-110 hover transition">
					<a href="mailto:carolosano99@gmail.com" target="_blank" rel="noopener">
						<GmailIcon />
					</a>
				</li>
			</ul>
			
		</SectionContainer>
		<SectionContainer id="education" class="py-2 px-20">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				<Education class="size-7"/>
				Education
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects" class="py-2 px-20 relative mt-24">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="contact" class="py-2 px-20 relative mt-24">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				<UserIcon class="size-7"/>
				About me
			</h2>
			<About />
		</SectionContainer>
	</main>
</Layout>