<h2 class="text-1xl lg:text-1xl text-wrap max-w-[700px]">
				
    My background in Graphic Design has equipped me with strong analytical skills, creativity, and attention to detail. I have developed proficiency in design software, including Adobe Illustrator, Photoshop, and InDesign, which have fostered my ability to think critically and approach problems creatively.

</h2>

<h2 class="text-1xl lg:text-1xl text-wrap max-w-[700px]">
				
    While I am still gaining experience in programming, my studies in Systems Programming have provided me with foundational knowledge in HMTL, CSS, JavaScript, and SQL. I am eager to apply what I have learned in the classroom to real-world challenges. 

</h2>

<h2 class="text-1xl lg:text-1xl text-wrap max-w-[700px]">
				
    My academic projects have given me hands-on experience in coding and problem-solving, and I am particularly keen to deepen my understanding of software development in a professional setting.


</h2>